<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="http://api.nuget.org/v3/index.json" />
        <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
        <add key="SitecoreCommerce" value="https://sitecore.myget.org/F/sc-commerce-packages/api/v3/index.json" />

        <!-- even though these endpoints say v1 they are actually v2 -->
        <add key="TeamCity1" value="http://ci.dtdigital.com.au/guestAuth/app/nuget/v1/FeedService.svc/" />
        <add key="TeamCity2" value="http://ci.dtdigital.com.au/httpAuth/app/nuget/v1/FeedService.svc/" />
        <add key="STW" value="http://akqa-nuget.stwgroup.net.au/nuget" />

        <!-- previous paths which don't appear to work with new version of nuget -->
        <add key="DT" value="http://teamcity.dev.akqa.net.au/guestAuth/app/nuget/v1/FeedService.svc/" />
        <add key="DTHttp" value="http://akqa-nuget.dev.akqa.net.au/nuget" />

    </packageSources>
    <packageSourceCredentials>
        <TeamCity2>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="dtd999!!tc" />
        </TeamCity2>
        <STW>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="dtd999!!tc" />
        </STW>
        <DT>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="dtd999!!tc" />
        </DT>
        <DTHttp>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="dtd999!!tc" />
        </DTHttp>
    </packageSourceCredentials>
</configuration>


